<div class="col-sm-3 col-md-3 col-lg-2  sidenav hidden-xs clearfix" style="min-height: 100vh;" id="nav">

  <div data-spy="affix" data-offset-top="0" class="sidenav-container">
    <div class="row">
      <div class="col-sm-12">
        <p></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-5">
        <img src="assets/PR.png" alt="" width="70" height="70" style="border-radius:50px">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-7" style="margin-top:18px">
        <div class="text-capitalize" style="color: #b5ecec; font-size: 20px; font-weight: bold;">Welcome!</div>
        <div class="text" style="color: white; font-size: 15px; ">{{user.name}}</div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-pills nav-stacked">
          <li {{#if profile}} class="active" {{/if}}><a href="/user/profile">Profile</a></li>
          <li {{#if dashboard}} class="active" {{/if}}> <a href="/">Expense Overview</a> </li>
          <li {{#if addExpense}} class="active" {{/if}}><a href="/expense/add">Add Expenses</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>

</div>