<!DOCTYPE HTML>
<html>

<head>
  <title>User Dashboard</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="charts/fusioncharts.js"></script>
  <script type="text/javascript" src="charts/themes/fusioncharts.theme.zune.js?cacheBust=56"></script>
  <script type="text/javascript" src="charts/fusioncharts.jqueryplugin.js"></script>

  <link rel="stylesheet" type="text/css" href="css_dashboard/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css_dashboard/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css_dashboard/bootstrap-datetimepicker.css">
  <link rel="stylesheet" type="text/css" href="css_dashboard/main.css">


  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/moment-with-locales.js"></script>
  <script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>

</head>

<body>
  <!-- 
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 hidden" id="loader">
           <center>
              <img src="assets/ajax-loader.gif">
            </center>
        </div>
    -->
  {{> topHeader}}
  <div class="container-fluid">
    <div class="row content">
      {{> sideBar}}
      <br>

      <div class="col-sm-9 col-md-9 col-lg-10" id="contemt-main">

        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="dashboard">
            <h1>Expense Overview</h1>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
            <div class="row">
              <div class='col-sm-12 form-inline datetimepickerwrapper'>
                <div class="form-group">
                  <label>From</label>
                  <div class='input-group date' id='datetimepicker6'>

                    <input type='text' class="form-control" value="01/06/2022" data-provide="datepicker" />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>

                  </div>
                </div>

                <div class="form-group">
                  <label>To</label>
                  <div class='input-group date' id='datetimepicker7'>

                    <input type='text' class="form-control" value="1/12/2022" disabled="true" />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="well">
              <h4>Expenses</h4>
              <p><span id="expense-chart-container">Your chart will render here</span></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="well">
              <p><span id="expense-bar-container">Your chart will render here</span></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="container">
              <div class="table">

                <div class="table-header">
                  <div class="header__item"><a id="date" class="filter__link">Date</a></div>
                  <div class="header__item"><a id="type" class="filter__link"><svg xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" style="margin-right:5px;" fill="currentColor" class="bi bi-filter"
                        viewBox="0 0 16 16">
                        <path
                          d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                      </svg>Type</a></div>
                  <div class="header__item"><a id="amt" class="filter__link">Amount in Rs.</a></div>
                  <div class="header__item">Remarks</div>
                  <div class="header__item"></div>
                </div>

                <div class="table-content" id="table-fill">
                  <div class="table-row">
                    <div class="table-data">02 September 2022</div>
                    <div class="table-data">Education and Accommodation</div>
                    <div class="table-data">10000</div>
                    <div class="table-data">Paid hostel fees</div>
                    <div class="table-data"><button type="button" data-toggle="modal" data-target="#editModal"
                        style="margin-top: -2%;">
                        Edit
                      </button>
                    </div>
                  </div>
                  <!-- Modal -->

                  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="modalTitle">Edit expense</h4>

                        </div>
                        <div class="modal-body" style="margin: 0 auto;float: none;">
                          <form role="form">
                            <div class="form-group">
                              <div class="input-group" id="profileEdits">



                                <label>Date</label>
                                <input type="text" class="form-control editField" value="02 September 2022">
                                <br>
                                <p></p>

                                <label>Type</label>
                                <input type="text" class="form-control editField" value="Education and Accommodation">
                                <br>
                                <p></p>

                                <label>Amount in Rs.</label>
                                <input type="text" class="form-control editField" value="10000">
                                <br>
                                <p></p>

                                <label>Remarks</label>
                                <input type="text" class="form-control editField" value="Paid hostel fees">
                                <br>
                                <p></p>

                              </div>

                            </div>

                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" id="delet" data-dismiss="modal">Delete</button>
                          <button type="button" id="editBtn" data-dismiss="modal">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal -->

                  <div class="table-row">
                    <div class="table-data">04 September 2022</div>
                    <div class="table-data">Transportation</div>
                    <div class="table-data">400</div>
                    <div class="table-data">Train ticket to Calicut</div>
                    <div class="table-data"><button style="margin-top: -2%;">Edit</button></div>
                  </div>

                  <div class="table-row">
                    <div class="table-data">07 September 2022</div>
                    <div class="table-data">Clothing and Shopping</div>
                    <div class="table-data">730</div>
                    <div class="table-data">Spent at Hi-Lite mall</div>
                    <div class="table-data"><button style="margin-top: -2%;">Edit</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script type="text/javascript" src="js/dashboard.js"></script>
<script>
  // var data = [
  //   {"date": "02 September 2022", "type":"Education and Accommodation", "amt":"10000", "rem":"Paid hostel fees"},
  //   {"date": "04 September 2022", "type":"Transportation", "amt":"400", "rem":"Train ticket to Calicut"},
  //   {"date": "07 September 2022", "type":"Clothing and Shopping", "amt":"730", "rem":"Spent at Hi-Lite Mall"},
  //   {"date": "18 September 2022", "type":"Food", "amt":"210", "rem":"Momo Lush"}
  // ];
  // var id_name = document.getElementById("table-fill");
  // data.forEach(element => id_name.insertAdjacentHTML('beforebegin', `<div class="table-row"><div class="table-data">${element.date}</div><div class="table-data">${element.type}</div><div class="table-data">${element.amt}</div><div class="table-data">${element.rem}</div><div class="table-data"><button style="margin-top: -2%;">Edit</button></div></div>`));
</script>

</html>