<!DOCTYPE html>
<html>
<head>
	<title>Forgot password</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container" id="container">
    <div class="form-container1 forgot-pass-container">
        <h1>Forgot password?</h1>
        <img src="assets/forgotpass.png" width="250px"/>
        <form action="">
            <input type="email" name="email" placeholder="Email">
            <button>Send password reset link</button>
        </form>
    </div>
    </div>
</body>
</html>